/* GLOBAL STYLES */
html {
	box-sizing: border-box;
	height: 100%;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

/* Fonts */

@font-face {
	font-family: "Jost";
	src: url("../fonts/Jost-Medium.woff2") format("woff2"),
		url("../fonts/Jost-Medium.woff") format("woff"),
		url("../fonts/Jost-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Spartan";
	src: url("../fonts/Spartan-Bold.woff2") format("woff2"),
		url("../fonts/Spartan-Bold.woff") format("woff"),
		url("../fonts/Spartan-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Manrope";
	src: url("../fonts/Manrope-Regular.woff2") format("woff2"),
		url("../fonts/Manrope-Regular.woff") format("woff"),
		url("../fonts/Manrope-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Jost";
	src: url("../fonts/Jost-Regular.woff2") format("woff2"),
		url("../fonts/Jost-Regular.woff") format("woff"),
		url("../fonts/Jost-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Jost";
	src: url("../fonts/Jost-Bold.woff2") format("woff2"),
		url("../fonts/Jost-Bold.woff") format("woff"),
		url("../fonts/Jost-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Manrope";
	src: url("../fonts/Manrope-SemiBold.woff2") format("woff2"),
		url("../fonts/Manrope-SemiBold.woff") format("woff"),
		url("../fonts/Manrope-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Jost";
	src: url("../fonts/Jost-Italic.woff2") format("woff2"),
		url("../fonts/Jost-Italic.woff") format("woff"),
		url("../fonts/Jost-Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Jost, Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 26px;
	background-color: white;
	color: #222;
	background-image: url("../images/home/desktop/body-bg.svg");
	background-repeat: no-repeat;
	background-size: 1006px 594px;
	background-position: 10% 150%;
}

img {
	max-width: 100%;
	height: auto;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* AUTOFILL COLORS
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}  */

/* PLACEHOLDER COLOR
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
}  */

/* CONTAINER */

.container {
	width: 100%;
	max-width: 1211px;
	padding-left: 50px;
	padding-right: 50px;
	margin-left: auto;
	margin-right: auto;
}

/* MAIN CONTENT */
.main-content {
	flex-grow: 1;
}

/* SITE LOGO */
.site-logo {
	display: flex;
	justify-content: center;
	align-items: center;
}
.site-logo-image {
	width: 196px;
	height: 24px;
}

.site-logo:hover {
	opacity: 0.8;
}

.site-logo:active {
	opacity: 0.6;
}

/* MAIN LINK */

.main-link {
	display: inline-block;
	padding: 18px 24px;
	border-radius: 8px;
	background-color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 15px;
	line-height: 100%;
	letter-spacing: 1px;
	color: inherit;
}

.main-link:active {
	background-color: #ffad9b;
	color: #fff;
}

/* RETINA BACKGROUNDS */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min--moz-device-pixel-ratio: 2),
	only screen and (-o-min-device-pixel-ratio: 2/1),
	only screen and (min-device-pixel-ratio: 2),
	only screen and (min-resolution: 192dpi),
	only screen and (min-resolution: 2dppx) {
}

/* SITE HEADER */
.site-header {
	padding: 64px 0;
	margin-bottom: 3px;
}
.site-header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.sitenav-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	gap: 42px;
}

.sitenav-link {
	display: inline-block;
	font-size: 14px;
	line-height: 14px;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
	color: #333136;
}

.sitenav-link:active {
	text-decoration: underline;
}

.site-footer-sitenav a {
	color: #fff;
}
/* MAIN CONTENT */

/* Hero */

.hero {
	margin-bottom: 160px;
}
.hero-container {
	background-origin: border-box;
	display: flex;
	gap: 98px;
	height: 640px;
	padding: 145px 95px;
	background-color: #e7816b;
	border-radius: 15px;
	background-image: url("../images/home/desktop/bg-pattern-hero-home.svg");
	background-size: 640px 640px;
	background-repeat: no-repeat;
	background-position: right 0;
	overflow: hidden;
}

.hero-content {
	width: 540px;
}
.hero-title {
	height: 165px;
	font-size: 48px;
	line-height: 48px;
	color: white;
	font-weight: 500;
	margin-top: 0;
	margin-bottom: 11px;
}
.hero-text {
	width: 445px;
	margin-top: 0;
	margin-bottom: 40px;
	color: #fff;
}

.hero-right {
	flex-grow: 1;
	/* background-image: url('../images/home/desktop/phone-image.png'); */
}

.hero-right-image {
	width: 281px;
	height: 500px;
	box-shadow: 20px -40px 80px #5d02027f;
	border-top-left-radius: 37px;
	border-top-right-radius: 37px;
}

/* Weblinks */

.weblinks {
	margin-bottom: 160px;
}

.weblinks-container {
	display: flex;
	gap: 30px;
	background-image: url("");
}
.weblinks-left {
	width: 541px;
	height: 640px;
	background-image: url("../images/home/desktop/image-web-design-large.jpg");
}
.weblinks-title {
	font-size: 40px;
	line-height: 48px;
	letter-spacing: 2px;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 24px;
}
.weblinks-links {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #fff;
}
.weblinks-links-text {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 15px;
	line-height: 100%;
	letter-spacing: 5px;
	margin-right: 21px;
}
.weblinks-icon {
	display: inline-block;
	width: 15px;
	height: 15px;
	background-image: url("../images/home/desktop/arrow-icon.svg");
	background-size: 4px 8px;
	background-position: center center;
	background-repeat: no-repeat;
}
.weblinks-right {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: 24px;
}
.weblinks-right-top {
	height: 308px;
	background-image: url("../images/home/desktop/image-app-design.jpg");
}
.weblinks-right-bottom {
	flex-grow: 1;
	background-image: url("../images/home/desktop/image-graphic-design.jpg");
}

.weblinks-item {
	display: block;
	text-decoration: none;
	position: relative;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.overlay {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(231, 129, 107, 0.75);
}

.weblinks-item:hover .overlay {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Illustration  */

.illustration {
	display: flex;
	justify-content: space-between;
	gap: 30px;
	margin-bottom: 160px;
}
.illustration-card {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.illustration-image-box {
	position: relative;
	margin-bottom: 48px;
	height: 202px;
	width: 202px;
	overflow: hidden;
}

.illustration-image-box::before {
	content: "";
	position: absolute;
	inset: 0;
	background-image: url("../images/home/desktop/bg-pattern-hero-home.svg");
	background-size: cover;
	background-position: center;
	z-index: -1;
}

.illustration-image-box-passionate::before {
	transform: rotate(270deg);
}

.illustration-image-box-resourceful::before {
	transform: rotate(180deg);
}

.illustration-card-img {
	width: 188px;
	height: 162px;
}
.illustration-content {
	text-align: center;
}
.illustration-title {
	text-transform: uppercase;
	font-size: 20px;
	line-height: 26px;
	letter-spacing: 5px;
	font-weight: 500;
	margin-top: 0;
	margin-bottom: 32px;
}
.illustration-text {
	letter-spacing: 0;
	margin: 0;
}

/* Cta */
.cta {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #e7816b;
	padding: 72px 95px 46px;
	border-radius: 15px;
	background-image: url("../images/shared/desktop/bg-pattern-call-to-action.svg");
	background-size: cover;
	background-position: right;
	position: relative;
	margin-bottom: -72px;
	z-index: 2;
}
.cta-content {
	width: 460px;
	color: #fff;
}
.cta-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 40px;
	font-weight: 500;
	line-height: 40px;
}
.cta-text {
	margin-top: 26px;
	margin-bottom: 26px;
}

/* SITE FOOTER */

.site-footer {
	background-color: #1d1c1e;
	padding: 144px 72px;
	color: #fff;
}

.site-footer-links {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 40px;
}
.site-footer-divider {
	margin-top: 0;
	margin-bottom: 30px;
	border: none;
	background-color: rgba(255, 255, 255, 0.1);
	height: 1px;
}
.site-footer-addresses {
	display: flex;
	align-items: end;
}
.site-footer-addresses-item {
	width: 350px;
	display: flex;
	flex-direction: column;
	color: rgba(255, 255, 255, 0.6);
}
.site-footer-addresses1 {
	margin-right: 30px;
}

.site-footer-addresses1 span:first-child {
	font-weight: 700;
}

.site-footer-addresses2 {
	font-weight: 700;
	margin-right: auto;
}
.site-footer-socials {
	display: flex;
	gap: 16px;
}
.site-footer-socials-link {
	display: flex;
	width: 24px;
	height: 24px;
	color: #e7816b;
}

.site-footer-socials-link:active {
	color: #ffad9b;
}

/* WEB DESIGN PAGE STYLES */
/* WEB DESIGN PAGE STYLES */
/* WEB DESIGN PAGE STYLES */

/* WEB HERO */

.web-hero {
	padding: 64px 0;
	border-radius: 15px;
	background-color: #e7816b;
	color: #fff;
	text-align: center;
	margin-bottom: 160px;
	position: relative;
}

.web-hero::before {
	content: "";
	position: absolute;
	inset: 0;
	background-image: url("../images/shared/desktop/bg-pattern-call-to-action.svg");
	/* background-size: cover; */
	background-repeat: no-repeat;
	background-position: right;
	z-index: 1;
	transform: scaleY(-1);
}
.web-hero-title {
	font-weight: 500;
	font-size: 48px;
	line-height: 48px;
	margin-top: 0;
	margin-bottom: 24px;
}
.web-hero-text {
	margin: 0;
}
