/* GLOBAL STYLES */
html {
	box-sizing: border-box;
	height: 100%;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

/* Fonts */

@font-face {
	font-family: "Jost";
	src: url("../fonts/Jost-Medium.woff2") format("woff2"),
		url("../fonts/Jost-Medium.woff") format("woff"),
		url("../fonts/Jost-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Spartan";
	src: url("../fonts/Spartan-Bold.woff2") format("woff2"),
		url("../fonts/Spartan-Bold.woff") format("woff"),
		url("../fonts/Spartan-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Manrope";
	src: url("../fonts/Manrope-Regular.woff2") format("woff2"),
		url("../fonts/Manrope-Regular.woff") format("woff"),
		url("../fonts/Manrope-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Jost";
	src: url("../fonts/Jost-Regular.woff2") format("woff2"),
		url("../fonts/Jost-Regular.woff") format("woff"),
		url("../fonts/Jost-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Jost";
	src: url("../fonts/Jost-Bold.woff2") format("woff2"),
		url("../fonts/Jost-Bold.woff") format("woff"),
		url("../fonts/Jost-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Manrope";
	src: url("../fonts/Manrope-SemiBold.woff2") format("woff2"),
		url("../fonts/Manrope-SemiBold.woff") format("woff"),
		url("../fonts/Manrope-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Jost";
	src: url("../fonts/Jost-Italic.woff2") format("woff2"),
		url("../fonts/Jost-Italic.woff") format("woff"),
		url("../fonts/Jost-Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Jost, Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 26px;
	background-color: white;
	color: #222;
}

img {
	max-width: 100%;
	height: auto;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* AUTOFILL COLORS
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}  */

/* PLACEHOLDER COLOR
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
}  */

/* CONTAINER */

.container {
	width: 100%;
	max-width: 1211px;
	padding-left: 50px;
	padding-right: 50px;
	margin-left: auto;
	margin-right: auto;
}

/* MAIN CONTENT */
.main-content {
	flex-grow: 1;
}

/* SITE LOGO */
.site-logo {
	display: flex;
	justify-content: center;
	align-items: center;
}
.site-logo-image {
	width: 196px;
	height: 24px;
}

.site-logo:hover {
	opacity: 0.8;
}

.site-logo:active {
	opacity: 0.6;
}
/* RETINA BACKGROUNDS */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min--moz-device-pixel-ratio: 2),
	only screen and (-o-min-device-pixel-ratio: 2/1),
	only screen and (min-device-pixel-ratio: 2),
	only screen and (min-resolution: 192dpi),
	only screen and (min-resolution: 2dppx) {
}

/* SITE HEADER */
.site-header {
	padding: 64px 0;
	margin-bottom: 3px;
}
.site-header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.sitenav-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	gap: 42px;
}
.sitenav-item {
}
.sitenav-link {
	display: inline-block;
	font-size: 14px;
	line-height: 14px;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
	color: #333136;
}

.sitenav-link:active {
	text-decoration: underline;
}
